<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cisnes</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>
    <center>
        {% if cis.imagen %}
            <img id="obra" src="{{ cis.imagen.url }}">
        {% endif %}
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{cis.nombreOb}}</li>
            <li class="list-group-item">Autor: {{cis.autor}}</li>
            <li class="list-group-item">Año: {{cis.año}}</li>
            <li class="list-group-item">Tecnica: {{cis.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{cis.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            Cisnes que se reflejan como elefantes es una pintura por el pintor surrealista español Salvador Dalí. El
            cuadro fue pintado durante su período paranoico-crítico, y contiene una de las imágenes dobles más conocidas
            que formaron una parte importante de este período.
            <br>
            Cisnes que se reflejan como elefantes emplea el reflejo en un lago para crear la imagen doble del cuadro.
            Tres cisnes están delante de árboles y, en el reflejo, los cisnes son las cabezas de los elefantes y los
            árboles son los cuerpos. El fondo del cuadro es un paisaje catalán representado en colores de otoño, el
            manejo del pincel creando remolinos en los precipicios circundantes del lago, para contrastar con la quietud
            del agua.
            <br>
            En la segunda guerra mundial, esta obra fue expoliada por el ejército alemán durante la ocupación francesa y
            permaneció almacenada en el museo Jeu de Paume de París en la llamada "salle des martyrs" entre 1940-1944.
        </p>
        {%endif%}
    </div>





</body>

</html>