<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComedoresDePatatas</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>
    <center>
        <img id="obra" src="{% static 'core/img/comedores.jpg'%}">
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{com.nombreOb}}</li>
            <li class="list-group-item">Autor: {{com.autor}}</li>
            <li class="list-group-item">Año: {{com.año}}</li>
            <li class="list-group-item">Tecnica: {{com.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{com.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            Durante el mes de marzo e inicios de abril del año 1885, el autor preparó bosquejos relativos a la obra.
            Esta la inició el 13 de abril del mismo para dejarla casi terminada a inicios del mes de mayo. Los cambios
            menores los finalizó más tarde en 1885, con pequeñas pinceladas.
            <br>
            En una carta escrita a su hermano dos años después en París, Van Gogh seguía considerando que Los comedores
            de patatas era su cuadro más exitoso: «Lo que creo acerca de mi propio trabajo es que la pintura de los
            campesinos comiendo patatas que hice en Neunen es, después de todo, lo mejor que he hecho».​ Sin embargo,
            su obra fue criticada por su amigo Anthon van Rappard poco después de haber sido pintada. Esto fue un duro
            golpe a la confianza de Van Gogh en su calidad de artista emergente, por lo que escribiría de vuelta a su
            amigo: «tú... no tienes el derecho a condenar mi trabajo en la forma que lo has hecho» (julio de 1885), y
            después, «siempre hago lo que aún no puedo hacer con el fin de aprender a cómo hacerlo» (septiembre de
            1885).​Esto provocó la ruptura de su amistad.
            <br>
            El tema del cuadro fue tratado por varios artistas de la época en obras como La comida frugal, de Jozef
            Israëls.​ El propio Van Gogh realizó diversas obras con una temática similar, como Cesto con patatas,
            también de 1885.
        </p>
        {%endif%}
    </div>





</body>

</html>