<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coquelicots</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>
    <center>
        <img id="obra" src="{% static 'core/img/coquelicots.jpg'%}">
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{coq.nombreOb}}</li>
            <li class="list-group-item">Autor: {{coq.autor}}</li>
            <li class="list-group-item">Año: {{coq.año}}</li>
            <li class="list-group-item">Tecnica: {{coq.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{coq.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            Cada año, cuando la primavera estalla, me vienen a la mente los cuadros de Monet. Esos lienzos llenos de
            colores, flores, naturaleza, sol y alegría, esas series de pinturas de nenúfares, de paisajes de Bretaña,
            del Sena, son para mí la primavera. Pero detrás de esa explosión de alegría hay una vida complicada y eso
            hace que la alegría que transmite su obra sea mucho más poderosa.
            <br>
            Fue a la muerte de Camille (su esposa) cuando el pintor bretón se dedicó a pintar paisajes. Y son esos lienzos los que
            aparecen en mi mente cuando llega la primavera, los que muestran la alegría que un alma sensible es capaz de
            ver a pesar de las circunstancias que puedan atribularla.
            <br>
            El cuadro elegido Les Coquelicots (Las amapolas) lo pintó en 1873, recién llegado de Inglaterra, donde
            residieron durante la guerra franco-prusiana. La mujer con la sombrilla y el niño que aparecen en primer
            plano son Camille y Jean, y realmente son una excusa pictórica para marcar una diagonal en el lienzo que
            separara las dos gamas de color de la obra. No hay una definición de caras, formas, flores y matorrales,
            pero mirándolo, se huele el verano y casi se oyen las chicharras.
        </p>
        {%endif%}
    </div>



 

</body>

</html>