<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crepusculo</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>
    <center>
        {% if cre.imagen %}
            <img id="obra" src="{{ cre.imagen.url }}">
        {% endif %}
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{cre.nombreOb}}</li>
            <li class="list-group-item">Autor: {{cre.autor}}</li>
            <li class="list-group-item">Año: {{cre.año}}</li>
            <li class="list-group-item">Tecnica: {{cre.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{cre.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            Es una vista de la isla del monasterio de San Giorgio de Venecia. A la derecha se ven débilmente la cúpula
            de Santa María Salute y la desembocadura del Gran Canal. Monet estaba totalmente fascinado por las puestas
            de sol venecianas, que son únicas en el mundo. Es una obra emblemática por los colores contrastantes para
            resaltar un objeto en especial, las pinceladas son un tanto libres, rápidas y directas, reduciendo los
            elementos, lo mejor es que genera volumen, gracias a la variedad cromática y ayuda de la luz al receptor
            pueda presenciar esta mezcla óptica y se logre apreciar el volumen. En esta aparece como una sombra al
            costado izquierdo de la pintura, pintada a contraluz (de manera casi fotográfica); detrás de ella, emerge
            uno de los atardeceres más bellos y refulgentes de la historia del arte. Al costado derecho de la imagen,
            sobre la línea de horizonte, se alcanzan a observar una serie de edificios de baja altura, también a
            contraluz, difuminados por la bruma de la tarde veneciana, bruma acentuada por la técnica del pintor: como
            toda obra impresionista, la bruma está constituida por pequeñas manchas de colores puros que la retina
            humana se encarga de convertir en imágenes inteligibles, manchas que permiten modelar bellamente el vapor
            emergente de las aguas.
            <br>
            El Crepúsculo de San Jorge Maggiore, o San Jorge Maggiore en la oscuridad es uno de una serie de pinturas
            hechas por el artista Claude Monet, de la puesta del sol más fabulosa de Venecia. Esto es una pintura
            impresionista famosa de Claude Monet pintó en 1908. La pintura fue hecha en aceite en lona mientras que
            Monet veía al San Jorge Maggiore en Venecia de su ventana de Venecia del hotel de la costa. La pintura
            impresionista de la puesta del sol de Venecia muestra la catedral y el campanario veneciano que están
            situados en la isla de Venecia en la puesta del sol. El Crepúsculo de San Jorge Maggiore a veces se llama
            Dusk en Venecia, San Jorge Maggiore por crepúsculo y puesta del sol en Venecia. La pintura impresionista de
            la puesta del sol fue pintada en los colores de una puesta del sol brillante - naranja brillante, amarillo,
            y una cinta del descoloramiento azul en el cielo.
        </p>
        {%endif%}
    </div>







</body>

</html>