<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GinebraDeVinci</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>
    <center>
        <img id="obra" src="{% static 'core/img/ginebra.jpg'%}">
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{gine.nombreOb}}</li>
            <li class="list-group-item">Autor: {{gine.autor}}</li>
            <li class="list-group-item">Año: {{gine.año}}</li>
            <li class="list-group-item">Tecnica: {{gine.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{gine.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            Este Retrato de mujer, llamado de Ginebra de Benci, es un cuadro atribuido a Leonardo da Vinci, datado hacia
            1474-76. Está realizado al temple y óleo sobre tabla (madera de álamo). Mide 38,8 cm. de alto y 36,7 cm. de
            ancho. Fue adquirido por la National Gallery of Art de Washington en 1967 por 5 millones de dólares pagados
            a la Casa Real de Liechtenstein, un precio récord para ese tiempo.
            <br>
            Se cree que es un retrato de Ginebra de Benci (Ginevra de' Benci), lo que explicaría la representación del
            enebro a sus espaldas.​ De hecho, también se conoce como Retrato de mujer joven ante un enebro, aunque
            actualmente es más común el otro nombre. Fue una dama de la clase aristocrática del siglo XV de Florencia,
            admirada por su excepcional inteligencia por sus contemporáneos florentinos. A Ginebra Benci se la recuerda
            hoy en día solo por ser el tema de una de las 17 pinturas atribuidas a Leonardo da Vinci. Posiblemente en el
            pasado fuera más grande, habiéndose acortado por la parte inferior.
            <br>
            Se considera que es obra del mismo autor de La dama del armiño del Museo Czartoryski, y en general se
            considera que el autor de ambas fue Leonardo, pero no sin voces disidentes dentro de la crítica.
            Podría haber sido hecho con motivo del matrimonio de Ginebra, en 1474 o, dado que ella aparenta
            más de 18 años, pudo ser un encargo de años posteriores del embajador veneciano Bernardo Bembo, que tenía
            con la dama una amistad platónica. Pijoán considera que está datada hacia 1504, cuando Ginebra tendría
            treinta años.
        </p>
        {%endif%}
    </div>





    <div class="container">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #8B9494 ;">Información de la Obra</li>
                <li class="list-group-item">Nombre: Ginebra de Vinci</li>
                <li class="list-group-item">Autor: Leonardo da Vinci</li>
                <li class="list-group-item">Año: 1474</li>
                <li class="list-group-item">Técnica: Pintura al temple y óleo sobre tabla</li>
                <li class="list-group-item">Tamaño: 38.4cm x 36.7cm</li>
            </ul>
            <br>
            <div>
                <br>
                <p id="info">
                    Este Retrato de mujer, llamado de Ginebra de Benci, es un cuadro atribuido a Leonardo da Vinci,
                    datado hacia
                    1474. Está realizado al temple y óleo sobre tabla (madera de álamo). Mide 38,8 cm. de alto y 36,7
                    cm. de
                    ancho. Fue adquirido por la National Gallery of Art de Washington en 1967 por 5 millones de dólares
                    pagados
                    a la Casa Real de Liechtenstein, un precio récord para ese tiempo. Fue una dama de la clase
                    aristocrática
                    del siglo XV de Florencia, admirada por su excepcional inteligencia por sus contemporáneos
                    florentinos.
                </p>
            </div>
        </div>
    </div>





</body>

</html>