<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HabitacionDeVincent</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>
    <center>
        {% if habi.imagen %}
            <img id="obra" src="{{ habi.imagen.url }}">
        {% endif %}
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{habi.nombreOb}}</li>
            <li class="list-group-item">Autor: {{habi.autor}}</li>
            <li class="list-group-item">Año: {{habi.año}}</li>
            <li class="list-group-item">Tecnica: {{habi.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{habi.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            El dormitorio en Arlés es un cuadro de Vincent Van Gogh que representa el dormitorio del pintor durante su
            estancia en la ciudad francesa de Arlés, un motivo sobre el que pintó tres cuadros casi idénticos. El
            primero, se conserva en el Museo Van Gogh de Ámsterdam, fue ejecutado en octubre de 1888 y se deterioró en
            una inundación ocurrida durante la hospitalización del pintor. Cerca de un año después, realizó el que hoy
            se encuentra en el Art Institute de Chicago; al mismo tiempo hizo otra, hoy en el Museo de Orsay, para su
            familia en Holanda y que es la única de tamaño más reducido.
            <br>
            En una carta dirigida a su hermano Theo, Vincent explica lo que le incita a pintar una obra semejante:
            quiere expresar la tranquilidad y resaltar la sencillez de su dormitorio mediante el simbolismo de los
            colores. Para ello, describe: «los muros lila pálido, el suelo de un rojo gastado y apagado, las sillas y la
            cama amarillo de cromo, las almohadas y la sábana verde limón muy pálido, la manta roja sangre, la mesa de
            aseo anaranjada, la palangana azul, la ventana verde", afirmando: "Había querido expresar un reposo absoluto
            mediante todos estos tonos diversos». Mediante estos diferentes tonos, Van Gogh hace referencia a Japón, a
            sus crespones y a sus estampas. Se justifica de este modo: «Los Japoneses han vivido en interiores muy
            sencillos y que grandes artistas han vivido en este país». Pese a que, para los japoneses, una habitación
            decorada con cuadros y muebles no parezca realmente sencilla, para Vincent es «un dormitorio vacío con una
            cama de madera y dos sillas». Alcanza, a pesar de todo, una cierta austeridad, por su composición
            constituida casi únicamente de líneas rectas y por la combinación rigurosa de superficies de color que
            compensan la inestabilidad
        </p>
        {%endif%}
    </div>




</body>

</html>