<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>

    <center>
        {% if inter.imagen %}
            <img id="obra" src="{{ inter.imagen.url }}">
        {% endif %}
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{inter.nombreOb}}</li>
            <li class="list-group-item">Autor: {{inter.autor}}</li>
            <li class="list-group-item">Año: {{inter.año}}</li>
            <li class="list-group-item">Tecnica: {{inter.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{inter.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            Interchange, también conocido como Interchanged, es una pintura al óleo expresionista abstracta sobre
            lienzo del pintor holandés-estadounidense Willem de Kooning (1904-1997). Al igual que Jackson Pollock, de
            Kooning fue uno de los primeros artistas delmovimiento expresionista abstracto, el primermovimiento de arte
            moderno estadounidense. La pintura mide 200,7 por 175,3 centímetros (79,0 por 69,0 pulgadas) y se completó
            en 1955. Marcó la transición de los sujetos de las pinturas de De Kooning de mujeres a paisajes urbanos
            abstractos. Refleja una transición en la técnica de pintura de De Kooning debido a la influencia del artista
            Franz Kline, quien inspiró a De Kooning a pintar con marcas gestuales de rápida realización en lugar de
            pinceladas violentas. La pintura presenta una masa rosada carnosa en su centro, que representa a una mujer
            sentada.
            <br>
            Originalmente vendido por el artista en 1955 por $ 4,000, fue vendido por la Fundación David Geffen a
            Kenneth C. Griffin por $ 300 millones en septiembre de 2015, y luego lo clasificó primero en la lista de
            pinturas más caras. Ha sido cedido en el Art Institute of Chicago. En la actualidad ocupa
            el segundo lugar en la lista de la mayoría de las pinturas costosas , sólo superado por Leonardo da Vinci ‘s
            Salvator Mundi, que se vendió por $ 450,3 millones en noviembre de 2017.
        </p>
        {%endif%}
    </div>


</body>

</html>