<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lirios</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>

    <center>
        {% if liri.imagen %}
            <img id="obra" src="{{ liri.imagen.url }}">
        {% endif %}
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{liri.nombreOb}}</li>
            <li class="list-group-item">Autor: {{liri.autor}}</li>
            <li class="list-group-item">Año: {{liri.año}}</li>
            <li class="list-group-item">Tecnica: {{liri.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{liri.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            Los lirios fueron una de las primeras obras realizadas mientras Vincent van Gogh vivía en el asilo del
            Monasterio de Saint-Paul-de-Mausole en Saint-Rémy-de-Provence, Francia, en el último año antes de su muerte
            en 1890.
            <br>
            Lo pintó antes de su primer ataque en el asilo. Falta la alta tensión que se ve en sus obras posteriores.
            Llamó a la pintura "el pararrayos para mi enfermedad" porque sentía que podía evitar volverse loco al seguir
            pintando.
            <br>
            La obra está influenciada por el patrón decorativo de las impresiones xilográficas japonesas ukiyo-e, como
            muchas de sus obras y las de otros artistas de su época. Las semejanzas se presentan con los bordes bien
            definidos, puntos de vista inusuales, incluyendo vistas en primer plano, de cerca. El color es aplanado, no
            modelado de acuerdo con la caída de la luz, aplicando los consejos proporcionados por Paul Gauguin sobre las
            tonalidades del color.
            <br>
            El artista consideraba a esta pintura un estudio, y es así, probablemente, porque no hay dibujos conocidos
            de ella,​ aunque Theo, su hermano, se lo pensó mejor y rápidamente presentó la obra a la exposición anual
            de la Société des Artistes Indépendants en septiembre de 1889, junto con Noche estrellada sobre el Ródano.
            Sobre la exposición, le escribió a Vicente: "Saltan a la vista desde lejos. Los lirios son un hermoso
            estudio lleno de aire y vida."
        </p>
        {%endif%}
    </div>


</body>

</html>