<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memoria</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>

    <center>
        {% if memo.imagen %}
            <img id="obra" src="{{ memo.imagen.url }}">
        {% endif %}
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{memo.nombreOb}}</li>
            <li class="list-group-item">Autor: {{memo.autor}}</li>
            <li class="list-group-item">Año: {{memo.año}}</li>
            <li class="list-group-item">Tecnica: {{memo.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{memo.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            La persistencia de la memoria, conocido también como Los relojes blandos​ o Los relojes derretidos​ es un
            cuadro del pintor español Salvador Dalí pintado en 1931. Realizado mediante la técnica del óleo sobre
            lienzo, es de estilo surrealista y sus medidas son 24 x 33 cm. La obra fue exhibida en la primera exposición
            individual de Dalí en la Galerie Pierre Colle de París,​ del 3 al 15 de junio de 1931, y en enero del año
            siguiente en una exposición en la Julien Levy Gallery de Nueva York, Surrealism: Paintings, Drawngs and
            Photographs.
            <br>
            El paisaje es simple; aparece el mar al fondo y una pequeña formación rocosa a la derecha de forma insólita.
            En primer plano a la izquierda, se observa un bloque probablemente de cartón tejido a mano, que hace las
            funciones de una mesa, sobre el que se disponen dos relojes, un árbol y en el centro de la obra aparece una
            extraña figura que simula una cabeza blanda, cuyo cuello se diluye en la oscuridad. Llama la atención la
            enorme nariz, la especie de lengua que sale de ella y el ojo cerrado con largas pestañas. La figura parece
            dormir sobre la arena. El artista ha colocado sobre esta figura un cuarto reloj, igualmente blando y que
            también parece derretirse o escurrirse. Los elementos anteriormente descritos se ambientan en lo que parece
            una playa desierta, con el mar y una cala rodeada de acantilados al fondo. El cielo y el mar se confunden.
        </p>
        {%endif%}
    </div>




</body>

</html>