<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Señoras</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>

    <center>
        <img id="obra" src="{% static 'core/img/señoras.jpg'%}">
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{señoras.nombreOb}}</li>
            <li class="list-group-item">Autor: {{señoras.autor}}</li>
            <li class="list-group-item">Año: {{señoras.año}}</li>
            <li class="list-group-item">Tecnica: {{señoras.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{señoras.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            Las señoritas de Avignon, Las señoritas de Aviñón o, más correctamente, Las señoritas de la calle de
            Avinyó,1​ es un cuadro del pintor español Pablo Picasso pintado en 1907 al óleo sobre lienzo y sus medidas
            son 243,9 x 233,7 cm. Se conserva en el Museo de Arte Moderno de Nueva York.
            <br>
            Este cuadro, que marcó el comienzo de su Periodo africano o Protocubismo, es la referencia clave para hablar
            de cubismo, del cual el artista español es el máximo exponente y creador del movimiento artístico. Imprime
            un nuevo punto de partida donde Picasso elimina todo lo sublime de la tradición rompiendo con el Realismo,
            los cánones de profundidad espacial y el ideal existente hasta entonces del cuerpo femenino, reducida toda
            la obra a un conjunto de planos angulares sin fondo ni perspectiva espacial, en el que las formas están
            marcadas por líneas claro-oscuras.
            <br>
            Dos de los rostros, los de aspecto más cubista de los cinco, que asemejan máscaras, se deben a la influencia
            del arte africano, cuyas manifestaciones culturales comenzaron a ser conocidas en Europa por aquellas
            fechas, mientras los dos centrales son más afines a las caras de los frescos medievales y las primitivas
            esculturas ibéricas, el rostro de la izquierda presenta un perfil que recuerda las pinturas egipcias.
        </p>
        {%endif%}
    </div>






</body>

</html>