<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sueño</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/groundzero.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="Logo" src="{% static 'core/img/logotipo2.jpg'%}" width="185" height="150" alt="">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artistas' %}">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tipoobras' %}">Tipos de Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'conceptos' %}">Conceptos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicarSesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'soporte' %}">Soporte</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
            </form>
        </div>
    </nav>
    <br>

    <center>
        <img id="obra" src="{% static 'core/img/sueño.jpg'%}">
    </center>
    <br>
    <div class="container">
        {%if nombreOb == true%}
        {% csrf_token %}
        <h3 id="til">INFORMACIÓN DE LA OBRA</h3>
        <ul class="list-group">
            <li class="list-group-item">Nombre: {{sue.nombreOb}}</li>
            <li class="list-group-item">Autor: {{sue.autor}}</li>
            <li class="list-group-item">Año: {{sue.año}}</li>
            <li class="list-group-item">Tecnica: {{sue.tecnica}}</li>
            <li class="list-group-item">Tamaño: {{sue.tamaño}}</li>
        </ul>
        <br>
        <p id="info">
            El sueño (también conocido con su nombre en francés, Le rêve)​ es un cuadro del pintor español Pablo
            Picasso pintado en 1932. Está hecho mediante la técnica del óleo sobre lienzo y es de estilo cubista.
            <br>
            El cuadro, cuyas medidas son 130 x 97 cm, representa a una mujer que yace dormida, en un sillón con la
            cabeza vencida hacia atrás y el rostro partido en dos y medio seno al descubierto. La modelo del cuadro es
            Marie-Thérèse Walter. Además de los trazos cubistas y los colores al óleo, esta obra guarda la historia de
            amor entre la joven de 17 años y Picasso, que cuando la conoció tenía 46 años. Algunos relatos cuentan que
            Picasso conoció a la joven un día que salía de las galerías Lafayette en París; le llevó a una librería para
            mostrarle ejemplares de su obra y luego vivieron en el castillo de Boisgeloup, donde pasaban largas sesiones
            de trabajo. El pintor aún estaba casado con la bailarina rusa Olga Khokhlova, madre de su hijo Paulo.
            Thérèse Walter y Picasso tuvieron en 1935 una hija llamada Maya.
            <br>
            En el año 2006 fue dañada por su dueño, el magnate de Las Vegas, Steve Wynn.1​En el año 2013 "el sueño" fue
            adquirido por Steven Cohen, tras pagar 155 millones de dólares, y se convirtió así en el segundo cuadro más
            caro de la historia, según una nota publicada en The New York Post, y en el más cotizado de su obra
            pictórica.
        </p>
        {%endif%}
    </div>




</body>

</html>